<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <p><%= e %></p>
  <% end %>
<% end %>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<h1>Edit Your Profile</h1>
<a href="/users">Logout</a>
<a href="/events" >Events Dashboard</a>
<form action='/users/<%=@user.id %>' method="post">
<input type="hidden" name="_method" value="patch">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="first_name">First Name</label>
  <input type="text"  id="first_name" name="user[first_name]" value="<%= @user.first_name %>">
  <br><br>
  <label for="last_name">last Name</label>
  <input type="text"  id="last_name" name="user[last_name]" value="<%= @user.last_name %>">
  <br><br>
  <label for="email">Email</label>
  <input type="text"  id="email" name="user[email]" value="<%= @user.email %>">
  <br><br>
  <label for="city">Location</label>
  <input type="text"  id="city" name="user[city]" value="<%= @user.city %>">
  <label>State:</label>
  <select name="user[state]">
    <option selected value="TX">TX</option>
  </select>
  <br><br>
  <input type="submit"  value="Update Records">
</form>